<% if (topics.length > 0) { %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>选择题（每题10分，共20分）</h4>
  </div>
  <div class="panel-body">
    <ol>
      <% topics.forEach(function(topic) { %>
      <li>
        <div class="form-group">
          <label class="control-label">
            <%= topic.title %>
          </label>

          <% topic.options.forEach(function(option) { %>
          <div class="radio">
            <label>
              <input type="radio" name="<%= topic.name%>" value="<%= option.value %>">
              <%= option.title %>
            </label>
          </div>
          <% }); %>
        </div>
      </li>
      <% }); %>
    </ol>
  </div>
</div>
<% } %>
