<% if (topics.length > 0) { %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>填空题（每空5分，共20分）</h4>
  </div>
  <div class="panel-body">
    <ol>
      <% topics.forEach(function(topic) { %>
      <li class="">
        <div class="form-group">
          <label class="control-label">
            <%= topic.title %>
          </label>

          <div class="form-inline">
            <% topic.options.forEach(function(option) { %>
            <input type="text" name="<%= topic.name %>" class="form-control">
            <% }); %>
          </div>
        </div>
      </li>
      <% }); %>
    </ol>
  </div>
</div>
<% } %>
