<div class="row">
  <div class="col-md-12 text-center">
    <h1>统一建模语言理论测试</h1>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <label class="control-label">
          考试科目：
        </label>
        统一建模语言
      </div>
      <div class="col-md-4">
        <label class="control-label">
          时间：
        </label>
        100分钟
      </div>
      <div id="totalScore_formGroup" class="col-md-4">
        <label class="control-label">
          得分：
        </label>
        <span id="totalScore" class="text-danger"></span>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row form-inline">
      <div id="className_formGroup" class="col-md-4 form-group">
        <label class="control-label">
          班级（必填）：
          <input type="text" id="className" name="className" class="form-control">
        </label>
      </div>
      <div id="studentNumber_formGroup" class="col-md-4 form-group">
        <label class="control-label">
          学号（必填）：
          <input type="text" id="studentNumber" name="studentNumber" class="form-control">
        </label>
      </div>
      <div id="studentName_formGroup" class="col-md-4 form-group">
        <label class="control-label">
          姓名（必填）：
          <input type="text" id="studentName" name="studentName" class="form-control">
        </label>
      </div>
    </div>
  </div>
</div>
