<div class="panel panel-default">
  <div class="panel-heading">
    <h4>三、多项选择题（每题10分，共20分）</h4>
  </div>
  <div class="panel-body">
    <ol>
      <li>
        <div class="form-group">
          <label class="control-label">
            用例的粒度分为以下哪三种：
          </label>

          <div class="checkbox">
            <label>
              <input type="checkbox" id="multiple_choice_1_0" name="multiple_choice_1" value="A">
              (A)&nbsp;概述级
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="multiple_choice_1_1" name="multiple_choice_1" value="B">
              (B)&nbsp;需求级
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="multiple_choice_1_2" name="multiple_choice_1" value="C">
              (C)&nbsp;用户目标级
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="multiple_choice_1_3" name="multiple_choice_1" value="D">
              (D)&nbsp;子功能级
            </label>
          </div>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label class="control-label">
            类图由以下哪三部分组成：
          </label>

          <div class="checkbox">
            <label>
              <input type="checkbox" id="multiple_choice_2_0" name="multiple_choice_2" value="A">
              (A)&nbsp;名称(Name)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="multiple_choice_2_1" name="multiple_choice_2" value="B">
              (B)&nbsp;属性(Attribute)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="multiple_choice_2_2" name="multiple_choice_2" value="C">
              (C)&nbsp;操作(Operation)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="multiple_choice_2_3" name="multiple_choice_2" value="D">
              (D)&nbsp;方法(Function)
            </label>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>
