<div class="panel panel-default">
  <div class="panel-heading">
    <h4>五、简答题（每题20分，共20分）</h4>
  </div>
  <div class="panel-body">
    <ol>
      <li>
        <div class="form-group">
          <label for="short_answer_1" class="control-label">
            简述什么是模型以及模型的表现形式？
          </label>
          <textarea id="short_answer_1" name="short_answer_1" class="form-control" rows="5"></textarea>
        </div>
      </li>
    </ol>
  </div>
</div>
