<% if (topics.length > 0) { %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>简答题（每题20分，共20分）</h4>
  </div>
  <div class="panel-body">
    <ol>
      <% topics.forEach(function(topic) { %>
      <li>
        <div class="form-group">
          <label class="control-label">
            <%= topic.title %>
          </label>
          <textarea name="<%= topic.name %>" class="form-control" rows="5"></textarea>
        </div>
      </li>
      <% }); %>
    </ol>
  </div>
</div>
<% } %>
